<%= link_to "<< Back to List", clients_path %>

<div>
  <h2>Delete Client</h2>

  <%= form_for(@client, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this client?</p>

    <p><%= f.object.name %></p>

    <div>
      <%= f.submit("Delete Client") %>
    </div>
  <% end %>
</div>