


  <h2>Clients</h2>
  <%= link_to("Add New Client", new_client_path, :class => 'action new') %>

  <table class="listing" summary="Client list">
    <tr class="header">
      <th>Client</th>
      <th>Gender</th>
      <th>Trainer</th>
      <th>Bookings</th>
    </tr>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td>Gender</td>
      <td>Trainer</td>
      <td>Bookings</td>

      <td class="actions">
        <%= link_to("Show", client_path(client), :class => 'action show') %>
        <%= link_to("Edit", edit_client_path(client), :class => 'action edit') %>

      </td>
    </tr>
    <% end %>
  </table>
</div>
