<h1>Edit Appointment</h1>

<p>Client: <%= @appointment.client.name%></p> 
<p>Trainer: <%= @appointment.trainer.name%></p> 
<p>Current Appointment: <%= @appointment.time.strftime("%B %d, %Y at %k:%M")%></p> 
<h3>Choose Another Date:</h3>
<%= render "form"%>
