<%= link_to "<< Back to List", trainers_path %>

<div>
  <h2>Delete Trainer</h2>

  <%= form_for(@trainer, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this trainer?</p>

    <p><%= @trainer.name %></p>

    <div>
      <%= f.submit("Delete Client") %>
    </div>
  <% end %>
</div>